<h1 class="icon-no1">Resend confirmation instructions</h1>
<div class="well">
  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="staffrow">
      <div>Email:</div>
      <div><%= f.email_field :email, :autofocus => true %></div>
    </div>

    <div><%= f.submit "Resend instructions", :class => 'btn btn-primary' %></div>
  <% end %>
  <div id="devise_links">
    <%= render "devise/shared/links" %>
  </div>
</div>
