<div><%= link_to "View all", intake_coordinator_cases_path(:query => "all"),:class => params[:query] == "all" ? "selected" : "" %> | <%= link_to "Active", intake_coordinator_cases_path(:query => "active"),:class => params[:query] == "active" ? "selected" : "" %> | <%= link_to "Inactive", intake_coordinator_cases_path(:query => "inactive"),:class => params[:query] == "inactive" ? "selected" : "" %> | <%= link_to "Discharged", intake_coordinator_cases_path(:query => "discharged"),:class => params[:query] == "discharged" ? "selected" : "" %></div>
<div id="tabs" class="commonr">
  <div class="box">
    <table class="table-accounting table-case-final" cellpadding="0" cellspacing="0" width="100%" border="0">
      <tr>
        <td>CASE NAME</td>
        <td>CASE NUMBER</td>
        <td>CLIENT</td>
        <td>DOB</td>
        <td>STATUS</td>
      </tr>
      <% @cases.each do |cs| %>
        <tr>
          <td><span><%= link_to cs.case_name, case_management_path(current_user.role,cs) %></span></td>
          <td><%= link_to cs.number, case_management_path(current_user.role,cs) %></td>
          <td>
            <% cs.case_clients.each do |intake| %>
              <div><%= link_to intake.client.full_name, client_management_path(current_user.role,intake.client) %></div>
            <% end %>
          </td>
          <td>
            <% cs.case_clients.each do |intake| %>
              <div><%= intake.client.date_of_birth.strftime("%m/%d/%Y") %></div>
            <% end %>
          </td>
          <td><span><%= cs.status %></span></td>
        </tr>
      <% end %>
    </table>
    <div class="clearFix"></div>
  </div>
</div>
<div class="clearFix"></div>
<style>
  a.selected{
    text-decoration: none;
  }
</style>