<div class="clientPortal">
  <ul class="list-clientinfo">
    <li>
      <div class="box">
        <h4>Account Information<div style="float:right;"><%= link_to 'Edit',edit_setting_path(:role => current_user.role,:id => current_user.id) %></div></h4>
        <div class="columnRight-client">
          <span><%= "*"+@client.full_name %></span>
          <p><%= "*"+@client.address %><br>
            <%= "*"+@client.city %>,<%= @client.state %> <%= @client.zipcode %></p>
          <p><%= "*"+@client.email %></p>
          <% prim = @client.primary %>
          <p>HOME     <%= prim == "home" ? "*" : "" %><%= number_to_phone(@client.home) %></p>
          <p>MOBILE  <%= prim == "mobile" ? "*" : "" %><%= number_to_phone(@client.mobile) %></p>
          <p>OFFICE    <%= prim == "work" ? "*" : "" %><%= number_to_phone(@client.work) %></p>
        </div>
        <h4>EMERGENCY CONTACT</h4>
        <p><%= @client.contact_name %></p>
        <p>CONTACT:   <%= number_to_phone(@client.contact_phone) %></p>
        <div class="clearFix"></div>
      </div>
    </li>
    <li>
      <div class="box" onclick="window.location.href = '/client/intakes';" style="cursor:pointer;">
        <div class="valignDiv">
          <div>
            <h2>Intake Forms</h2>
            In order to begin counseling, please click here to complete an intake form
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="box">
        <div class="valignDiv">
          <div><h2 style="font-size: 15px;">FAQ</h2></div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="inTake">
  <ul class="list-intake">
    <% for intake in @intake_forms %>
      <li>
        <div class="box">
          <div class="valignDiv">
            <div><h2><%= intake.intake_type.split("_").join(" ") %></h2><em><%= intake.intake_status %></em></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<h6 class="heading-question">FREQUENTLY ASKED QUESTIONS</h6>	
<ul id="collexp-menu" class="collexpMenu list-question">
  <li><div class="expanded" title="WHAT IS THE POINT OF THERAPY?">WHAT IS THE POINT OF THERAPY?</div>
    <ul>
      <li>Answer goes here. Therapy copy and other advice, lists, answers ectcetera. This is the answer 	to the question that was asked.</li>
    </ul>
  </li>
  <li><div class="collapsed" title="IS FINANCIAL AID AVAILABLE?">IS FINANCIAL AID AVAILABLE?</div>
    <ul>
      <li>Answer goes here. Therapy copy and other advice, lists, answers ectcetera. This is the answer 	to the question that was asked.</li>
    </ul>
  </li>
  <li><div class="collapsed" title="WHAT IS THE POINT OF THERAPY?">WHAT IS THE POINT OF THERAPY?</div>
    <ul>
      <li>Answer goes here. Therapy copy and other advice, lists, answers ectcetera. This is the answer 	to the question that was asked.</li>
    </ul>
  </li>
  <li><div class="collapsed" title="WHAT IS THE POINT OF THERAPY?">WHAT IS THE POINT OF THERAPY?</div>
    <ul>
      <li>Answer goes here. Therapy copy and other advice, lists, answers ectcetera. This is the answer 	to the question that was asked.</li>
    </ul>
  </li>
  <li><div class="collapsed" title="WHAT IS THE POINT OF THERAPY?">WHAT IS THE POINT OF THERAPY?</div>
    <ul>
      <li>Answer goes here. Therapy copy and other advice, lists, answers ectcetera. This is the answer 	to the question that was asked.</li>
    </ul>
  </li>
  <li><div class="collapsed" title="WHAT IS THE POINT OF THERAPY?">WHAT IS THE POINT OF THERAPY?</div>
    <ul>
      <li>Answer goes here. Therapy copy and other advice, lists, answers ectcetera. This is the answer 	to the question that was asked.</li>
    </ul>
  </li>
</ul>
<div class="clearFix"></div>