	
<ul class="list-remindersBox">
  <% @client.reminders.where("hidden = #{false}").each do |reminder| %>
    <li id="reminder_<%= reminder.id %>">
      <div class="box-reminders"><%= check_box_tag "reminders[]","#{reminder.id}",false,:onclick => "hide_review('#{current_user.role}',this)" %></div>
      <div class="box-reminders-date" style="width:71px;"><%= reminder.client.first_name %><br><%= reminder.created_at.strftime("%m/%d/%Y") %></div>
      <p><%= reminder.description %></p>
    </li>
  <% end %>
</ul>
<script>
  $(document).ready(function() {
    jQuery('#addReminders').click(function() {
      jQuery('#addRemindersBox').slideToggle('slow', function() {
      });
    });
    jQuery('#addCloseBox').click(function() {
      jQuery('#addRemindersBox').slideToggle('slow', function() {
      });
    });
  });

  function display_reminder_form(appointment) {
    $.ajax({
      url: '/counselor/reminders/new?client_id=' + appointment,
      dataType: 'script'
    });
  }
</script>