<table width="100%">        
<%= hidden_field_tag "case_id",@case.id %>  
<% @case.case_counselors.each do |counselor| %>
    <tr>
      <td><%= check_box_tag "counselors[]",counselor.counselor_id,nil,:class => "counselor_permi" %></td>
      <td><%= counselor.counselor.full_name %></td>
      <td><%= link_to image_tag("/assets/counselor/icon_minus_small.jpeg",:width => "23",:height => "21"),remove_counselor_case_management_path(current_user.role,counselor.id),:method => :delete,:remote => true,:style => "font-size:20px;text-decoration:none;" %></td>
    </tr>
  <% end %>
</table>
<div>
  <%= select_tag "counselor",options_for_select([["Select",""]]+Counselor.where("id NOT IN (#{@case.case_counselors.empty? ? '0' : @case.case_counselors.collect(&:counselor_id).split(",").join(",")})").map{|a| [a.full_name,a.id]}) %>
  <%= link_to image_tag("/assets/counselor/icon_plus_small.jpg"),"javascript:add_counselor('#{current_user.role}','#{@case.id}')",:style => "font-size:20px;text-decoration:none;" %>
</div>
<script>
  function add_counselor(role, cas_id) {
    var cou = $("#counselor").val();
    if (cou === "") {
      alert("select counselor first!");
    } else {
      $.ajax({
        url: "/" + role + "/case_managements/add_counselor",
        data: {
          case_id: cas_id,
          counselor_id: cou
        },
        type: "POST",
        dataType: "script",
        success: function(data) {
        }
      });
    }
  }
</script>