<div>
  <div class="fleft box" id="case_clients">
    <%= render :partial => "case_clients" %>
  </div>
  <div class="fright">
    <ul class="list-clientinfo">
      <li>
        <div class="box">
          <% if current_user.role == 'counselor' %>
            <h3 id="addReminders1">REMINDERS<a title="" href="javascript:;"><del>.</del></a></h3>
            <div id="addRemindersBox1" style="display:none;">
              <div class="addRemindersContent1">
                <%= render :partial => "/reminders/new" %>
              </div>
            </div>
          <% else %>
            <h2>REMINDERS</h2>
          <% end %>
          <div id="reminder_section" style='height: 200px;overflow: auto;'>
            <%= render :partial => "/reminders/case_reminders" %>
          </div>
          <div class="clearFix"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearFix"></div>
</div>
<div class="bor-info"></div>
<div>			
  <div class="box counselorBox">
    <div class="counRow">
      <%= form_tag(counselor_permisson_case_managements_path(current_user.role),:remote => true) do %>
        <div class="counColumn">
          <h6 class="counselorHeading">Counselor (S) <%= link_to "edit","javascript:display_edit_links('perColumn')",:style => "float:right;" %></h6>
          <div id="case_counselors">
            <%= render :partial => "case_counselors" %>
          </div><br/>
        </div>
        <div class="perColumn" style="display:none;">
          <h6 class="counselorHeading">Permissions</h6>
          <% ["Read","Read / Write"].each do |permission| %>
            <p><%= check_box_tag "permission",permission,false,:onclick => "update_permission(this)",:class => "permisson" %><%= permission %></p>
          <% end %>
          <p><%= submit_tag "Save",:onclick => "javascript:if($('.counselor_permi').is(':checked') === false){alert('check atleast one counselor'); return false;} if($('.permisson').is(':checked') === false){alert('check atleast one permission'); return false;}" %>
            <%= submit_tag "Cancel",:onclick => "javascript:$('.counselor_permi').attr('checked',false);$('.permisson').attr('checked',false);return false;" %></p>
        </div>						
        <div class="clearFix"></div>
      <% end %>
    </div>
  </div>
  <div class="box counselorBox mleft10">
    <div class="multiRow">
      <div class="multiColumn">Session Schedule:</div>
      <div class="multiColumn"><%#= @appointment.start_at.blank? ? '' : @appointment.start_at.strftime("%A") %> | <%#= @appointment.start_at.blank? ? '' : @appointment.start_at.strftime("%I:%m") %> - <%#= @appointment.end_at.blank? ? '' : @appointment.end_at.strftime("%I:%m") %></div>
    </div>
    <div class="multiRow">
      <div class="multiColumn w50">Next Session:</div>
      <div class="multiColumn w50">June 4 2013</div>
    </div>
    <div class="multiRow">
      <div class="multiColumn w50">Repeat Cycle:</div>
      <div class="multiColumn w50">2 &times; Month</div>
    </div>
    <div class="multiRow">
      <div class="multiColumn w50">Authorization:</div>
      <div class="multiColumn w50"><%= @authcounts %>/<%= !@account.nil? ? @account.auth : ""  %></div>
    </div>
  </div>
  <div class="clearFix"></div>
</div>
<div class="bor-info"></div>
<div class="box">
  <table class="table-clientInfo" cellpadding="0" cellspacing="0" width="100%" border="0">
    <tr>
      <td>CASE NUMBER</td>
      <td>COUNSELOR</td>
      <td>DAY</td>
      <td>TIME</td>
      <td>START DATE</td>
      <td>REPEAT CYCLE</td>
      <td>AUTHORIZATIONS</td>
    </tr>
    <% for appointment in @case.appointments %>
      <tr>
        <td><%= appointment.case.number %></td>
        <td>
          <%= appointment.counselor.full_name if appointment.counselor %>
        </td>
        <td>
          <%= appointment.start_at.blank? ? '' : appointment.start_at.strftime("%A") %>
        </td>
        <td><%= appointment.start_at.blank? ? '' : appointment.start_at.strftime("%H:%M") %>-<%= appointment.start_at.blank? ? '' : appointment.end_at.strftime("%H:%M") %></td>
        <td><%= appointment.start_at.blank? ? '' : appointment.start_at.strftime("%b %d %Y") %></td>
        <td>2X A MONTH</td>
        <td><%= @authcounts %>/<%= !@acccount.nil? ? @acccount.auth : ""  %></td>
      </tr>
    <% end %>
  </table>
  <div class="clearFix"></div>
</div>
<div class="bor-info"></div>
<div id="tabs" class="commonr">
  <div class="caseNumber">
    <ul class="list-breadCurm">
      <li class="active"><a href="#" title="Case Number">Case Number</a></li>
      <li>View All</li>
    </ul>
    <input type="text" placeholder="IND - 789 - JK23" name="" title="Case Number" class="input-info input-caseNum">
  </div>
  <ul class="menu-main">
    <li><%= link_to 'Documents',case_documents_documents_path(current_user.role,:case_id => @case.id),:remote => true %></li>
    <% if current_user.role == 'counselor' %><li><%= link_to 'PROGRESS NOTES',counselor_progress_notes_path(:appointment_id => @appointment.id),:remote => true %></li>
      <li><a title="TREATMENT MAP" href="#treatmentMap"><span>TREATMENT MAP</span></a></li><% end %>
    <li><%= link_to 'Accounting',new_accounting_path(current_user.role,:case_id => @case.id),:remote => true %></li>
  </ul>
  <div class="box" id="display_details">
    <%= render :partial => "/documents/form" %>
  </div>
</div>
<div class="clearFix"></div>
<script>
  function update_permission(th, role, cs, coun) {
    $("input.permisson").not(th).attr("checked", false);
  }
</script>