<div class="heading-intakeForms">
  <h2>Counseling Forms</h2>
  <p>Please select the type of counseling you wish to pursue. You may fill<br />out as many forms as you need. Each form must be filled out by a<br />single client. You may save and come back to a form for up to 30 days.</p>
</div>
<div class="individualBox">
  <ul class="list-box">
    <li><div>Individual</div></li>
    <li><div>Dating<br />&amp;<br />Pre-Marital</div></li>
    <li><div>Marriage</div></li>
    <li><div>Family<br />&amp;<br />Friends</div></li>
    <li><div>Minor</div></li>
    <li><div>Renewal<br />Group</div></li>
    <li><div>Financial</div></li>
    <li><div>Career<br />Assesment</div></li>
    <li><div><span>Application For</span><br />Reduced Fee</div></li>
  </ul>
  <div class="popupBox">
    <div id="addCloseBox1" onclick="window.location.href = '/client/intakes';"></div>
    <div class="heading-marriage">
      <span>marriage and couples</span>
      <p>Please enter the following information for the other particpant</p>
    </div>
    <div class="marrigeForm">
      <%= form_for @partner,:url =>client_partners_path(@partner) do |f| %>
        <% if f.error_messages.blank? == false %>
          <div id="errorExplanation" class="errorExplanation">
            <ul><li>Please enter required(*) fields</li></ul>
          </div>
        <% end %>
        <%= f.hidden_field :intake_type,:value => @intake_type %>
        <div class="staffrow">
          <div>Name<em>*</em></div>
          <div>
            <ul class="list-name">
              <li><%= f.text_field :name %></li>
            </ul>
          </div>			
        </div>
        <div class="staffrow">
          <div>DOB<em>*</em></div>
          <div>
            <ul class="list-name">
              <li>
                <%= f.date_select :date_of_birth, {:include_blank => true, :default => nil,:start_year => 1930} %>
              </li>
            </ul>
          </div>			
        </div>
        <div class="staffrow">
          <div>Email<em>*</em></div>
          <div>
            <ul class="list-name">
              <li><%= f.text_field :email %></li>
            </ul>
          </div>			
        </div>
        <div class="btn-createnew">
          <input class="btn-submit" type="submit" title="Submit" value="Submit" /><em></em>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="clearFix"></div>
