<div id="session_form">
  <%= render :partial => "accountings/session_form" %>
</div>
<div id="misc_form">
  <%= render :partial => "accountings/misce_form" %>
</div>
<%= render :partial => "accountings/client_accounts" %>
<div class="clearFix"></div>
<div class="payer">Payer 2 Sheet</div>		
<div class="grayBox darkGrayBox">
  <div id="payer_form">
    <%= render :partial => "accountings/payer_form" %>
  </div>
  <div id="session_fee_form">
    <%= render :partial => "accountings/session_fee_form" %>
  </div>
</div>

<%= render :partial => "accountings/payer_accounts" %>
<style>
  select{
    padding: 4px 3px;
  }
  .btn-createnew{
    bottom: -3px;
  }
</style>