<%= form_for @payer_account,:url => payer_account_accountings_path(current_user.role,@payer_account),:remote => true do |f| %>
  <%= f.error_messages %>
  <div class="sessionPayment">
    <h6 class="GrayBoxHeading">ACCOUNT INFORMATION
      <%= f.select :case_id,options_for_select([["Select",""]]+Case.all.map{|a| [a.number,a.id]},:selected => f.object.case_id) %>
    </h6>
  </div>
  <div class="info payment">
    <div>
      <p>Start Date</p>
      <%= f.date_select :start_date, {:include_blank => true, :default => nil,:start_year => 1930} %>
    </div>
    <div>
      <p>Payer 2</p>
      <%= f.select :payer_id,options_for_select([["Select",""]]+Payer.all.map{|a| [a.name_of_org,a.id]},:selected => f.object.payer_id) %>
    </div>
    <div>
      <p>Client Id</p>
      <%= f.text_field :client_id,:class=>"input-info input-Authoriz",:title=>"client id" %>
    </div>
    <div>
      <p>Authorizations</p>
      <%= f.text_field :auth,:class=>"input-info input-Authoriz",:title=>"Authorizations", :placeholder=>"5"  %>
    </div>
    <div>
      <p>Amt Per Session</p>
      <%= f.text_field :amount,:class=>"input-info input-Authoriz",:title=>"Authorizations", :placeholder=>"$85"  %>
    </div>
  </div>
  <div class="btn-createnew">
    <input type="submit" title="Save" value="Save" name="" /><em></em>
  </div>
<% end %>
