<%= f.hidden_field :appointment_id ,:value => @appointment.id %>
<div class="clientDetail" id="clientNameContent-1">
  <%= f.error_messages %>
  <span class="arrow-clientdetail"></span>
  <p>CELL: <span><%#= number_to_phone(@appointment.client.mobile) %></span></p>
  <p>HOME: <span><%#= number_to_phone(@appointment.client.home) %></span></p>
  <p>EMAIL: <span><%#= @appointment.client.email %></span></p>
  <ul class="list-receiptdetail">
    <li>
      <div>Fees</div>
      <div><%= f.text_field :fee,:class=>"input-none"  %></div>
    </li>
    <li>
      <div>UOS</div>
      <div><%= f.text_field :uos,:class=>"input-none", "data-payer_amt" => !@acc.nil? ? @acc.amount : "", "data-balance" => !@session_payment.nil? ? @session_payment.balance : "" , :onblur=>"UpdateValues(this.value)"  %></div>
    </li>
    <li>
      <div>COPAY</div>
      <div><%= f.text_field :copay,:class=>"input-none",:readonly => true  %></div>
    </li>
    <li>
      <div>BALANCE</div>
      <div><%= f.text_field :balance,:class=>"input-none",:readonly => true, :value => !@session_payment.nil? ? @session_payment.balance : ""   %></div>
    </li>
    <li>
      <div>OWES</div>
      <div><%= f.text_field :owes,:class=>"input-none",:readonly => true   %></div>
    </li>
    <li class="columnTotal">
      <div>PAYER 2</div>
      <% if !@acc.nil?  %>
        <div><%= f.select :payer_id,options_for_select([["Select",""]]+Payer.all.map{|a| [a.name_of_org,a.id]}, :selected => @acc.payer_id),:class=>"input-none",:readonly => true %></div>
      <% else %>
        <div><%= f.select :payer_id,options_for_select([["Select",""]]+Payer.all.map{|a| [a.name_of_org,a.id]}),:class=>"input-none",:readonly => true   %></div>
      <% end %>
    </li>
    <li>
      <div>PAID</div>
      <div><%= f.text_field :amount,:class=>"input-none"  %></div>
    </li>
    <li class="columnTotal">
      <div class="columnPaySta">
        <%= f.select :payment_type,%W(cash ckeque credit_card) %>
      </div>
      <div class="columnPaySta">
        <%= f.select :session_status,%w(completed missed_billable missed_unbillable) %>
      </div>
    </li>
  </ul>
  <div class="row-clientdetail playername">
    <% if !@acc.nil?  %>
      <div>PAYER 2 NAME<br> <%= @acc.payer.name_of_org %></div>
      <div>
        <em>payer 2 name</em><br><span><%= @authcounts %>/<%= @acc.auth %></span>
      </div>
    <% else %>
      <div>PAYER 2 NAME<br> AUTHORIZATION</div>
      <div>
        <em>payer 2 name</em><br><span>1/5</span>
      </div>
    <% end %>
  </div>
  <div class="row-clientdetail">
    <%= f.submit "PRINT RECEIPT",:class => 'btn-printReceipt',:style => "background-color: #6D6E70;
border: 1px solid #4D4B4C;
color:#E6E7E8;
float: right;font-family: Arvo,Tahoma,sans-serif;
font-size: 12px;
font-weight: bold;
padding: 10px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
width: 120px;float:left;
    " %>
    <%= f.submit "EMAIL RECEIPT",:class => 'btn-emailReceipt',:style => "background-color: #FFFFFF;
border-top: 1px solid #878585;
color: #404041;
float: right;font-family: Arvo,Tahoma,sans-serif;
font-size: 12px;
font-weight: bold;
padding: 10px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
width: 120px;
    " %>
  </div>
  <div class="row-clientdetail">
    <%= f.submit "SAVE",:class => 'btn-save' %>
    <%= link_to "PROGRESS NOTES","javascript:void(0)",:onclick => "javascript:$('#invoice_form form').submit();",:class=>"btn-progressNotes" %>
  </div>
</div>
<del>.</del>
<style>
  select{
    width:103px;
  }
</style>
<script>
  $("#invoice_invoice_status").change(function() {
    if ($(this).val() === "missed_unbillable") {
      $(".btn-progressNotes").hide();
    } else {
      $(".btn-progressNotes").show();
    }
  });

  $(document).ready(function() {
    if ($("#invoice_invoice_status").val() === "missed_unbillable") {
      $(".btn-progressNotes").hide();
    } else {
      $(".btn-progressNotes").show();
    }
  });

  function UpdateValues(va) {
    var fees = $("#session_payment_fee").val();
    var uos = va;
    var payer_amt = $("#session_payment_uos").data("payer_amt");
    var balance = $("#session_payment_uos").data("balance");
    $.ajax({
      url: "/counselor/invoices/" + uos + "/update_values/",
      data: {
        fees: fees,
        payer_amt: payer_amt,
        bal: balance
      },
      type: "GET",
      dataType: "script",
      success: function() {
      }
    });
  }
</script>

