<div class="graybg">
  <h1><span class="btn-createnew">Create New<em></em></span>Forms</h1>
  <div class="tableBox">
    <div class="tablerow">
      <div class="column w60">Name of Renewal Group Intak</div>
      <div class="column">Status</div>
      <div class="column">Actions</div>
    </div>
    <div class="tablerow">
      <div class="column w60"><%= image_tag("/assets/admin/spacer.png") %></div>
      <div class="column"><%= image_tag("/assets/admin/dummy-checked.jpg") %></div>
      <div class="column">
        <input class="btn-green" type="submit" title="Edit" value="Edit" />
        <input type="submit" title="Delete" value="Delete" />
      </div>
    </div>
    <div class="tablerow">
      <div class="column w60"><%= image_tag("/assets/admin/spacer.png") %></div>
      <div class="column"><%= image_tag("/assets/admin/dummy-checkbox.jpg") %></div>
      <div class="column">
        <input class="btn-green" type="submit" title="Edit" value="Edit" />
        <input type="submit" title="Delete" value="Delete" />
      </div>
    </div>
    <div class="tablerow">
      <div class="column w60"><%= image_tag("/assets/admin/spacer.png") %></div>
      <div class="column"><%= image_tag("/assets/admin/dummy-checkbox.jpg") %></div>
      <div class="column">
        <input class="btn-green" type="submit" title="Edit" value="Edit" />
        <input type="submit" title="Delete" value="Delete" />
      </div>
    </div>
    <div class="tablerow">
      <div class="column w60"><%= image_tag("/assets/admin/spacer.png") %></div>
      <div class="column"><%= image_tag("/assets/admin/dummy-checkbox.jpg") %></div>
      <div class="column">
        <input class="btn-green" type="submit" title="Edit" value="Edit" />
        <input type="submit" title="Delete" value="Delete" />
      </div>
    </div>
    <div class="tablerow">
      <div class="column w60"><%= image_tag("/assets/admin/spacer.png") %></div>
      <div class="column"><%= image_tag("/assets/admin/dummy-checkbox.jpg") %></div>
      <div class="column">
        <input class="btn-green" type="submit" title="Edit" value="Edit" />
        <input type="submit" title="Delete" value="Delete" />
      </div>
    </div>
  </div>
  <div class="clearFix"></div>
</div>