<%= f.hidden_field :intake_type,:value => @intake_type %>
<div class="boxGray">
  <% if f.error_messages.blank? == false %>
    <div id="errorExplanation" class="errorExplanation">
      <ul><li>Please enter required(*) fields</li></ul>
    </div>
  <% end %>
  <div class="staffrow">
    <div>What Concerns Have led you to Pursue Counseling?<em>*</em></div>
    <div>
      <%= f.text_area :concern_led,:rows => 4,:maxlength=>"350" %>
    </div>
  </div>
  <hr />
  <div class="staffrow">
    <div>Where are your concerns causing the most problems for you?<em>*</em></div>
    <div>
      <p>
        <%= f.radio_button :concern_counseling_problems,"home",:id => "checkbox_box_106" %><label for="checkbox_box_106" class="cssLabel"><span></span>Home</label>
        <%= f.radio_button :concern_counseling_problems,"work",:id => "checkbox_box_107" %><label for="checkbox_box_107" class="cssLabel"><span></span>Work</label>
        <%= f.radio_button :concern_counseling_problems,"god",:id => "checkbox_box_108" %><label for="checkbox_box_108" class="cssLabel"><span></span>God</label>
        <%= f.radio_button :concern_counseling_problems,"marriage",:id => "checkbox_box_109" %><label for="checkbox_box_109" class="cssLabel"><span></span>Marriage</label>
      </p>
      <%= f.radio_button :concern_counseling_problems,"other_relationships",:id => "checkbox_box_110" %><label for="checkbox_box_110" class="cssLabel"><span></span>Ohter Relationships</label>
    </div>
  </div>
  <hr />
  <div class="staffrow">
    <div>When did your present concerns begin to be a problem for you?<em>*</em></div>
    <div><%= f.text_area :present_concern,:rows => 4,:maxlength=>"350" %></div>
  </div>
  <hr />
  <div class="staffrow">
    <div>Have any of your concerns been identified by others?<em>*</em>(please explain)</div>
    <div><%= f.text_area :have_any_concerns_identified,:rows => 4,:maxlength=>"350" %></div>
  </div>
  <hr />
  <div class="staffrow">
    <div>Please rate the severity of your present concerns on the following scale.</div>
    <div>
      <p>
        <%= f.radio_button :rate_of_present_concern,"mild",:id => "checkbox_box_112" %><label for="checkbox_box_111" class="cssLabel"><span></span>Mild</label>
        <%= f.radio_button :rate_of_present_concern,"moderate",:id => "checkbox_box_112" %><label for="checkbox_box_112" class="cssLabel"><span></span>Moderate</label>
        <%= f.radio_button :rate_of_present_concern,"severe",:id => "checkbox_box_112" %><label for="checkbox_box_113" class="cssLabel"><span></span>Severe</label>
      </p>
      <%= f.radio_button :rate_of_present_concern,"total_incapacitating",:id => "checkbox_box_114" %><label for="checkbox_box_114" class="cssLabel"><span></span>Total Incapacitating</label>
    </div>
  </div>
  <hr />
  <h6 class="indicate">Indicate which Areas are Currently a Problem. (<span>Please Select all  That Apply</span>)</h6>
  <% i =136 %>
  <% AREA_PROBLEMS.each do |problem| %>
    <div class="diviedColumn">
      <div class="w50"><%= check_box_tag "counseling[areas_of_problems][]","#{problem[0]}",false,:id => "checkbox_box_#{i}" %><label for="checkbox_box_<%= i %>" class="cssLabel"><span></span><em style="width: 428px; float: right; margin-top: -33px;"><%= problem[0] %></em></label>
      </div>
      <% if !problem[1].blank? %>
        <div class="w50"><%= check_box_tag "counseling[areas_of_problems][]","#{problem[1]}",false,:id => "checkbox_box_#{i+1}" %><label for="checkbox_box_<%= i+1 %>" class="cssLabel"><span></span><em style="width: 428px; float: right; margin-top: -33px;"><%= problem[1] %></em></label>
        </div>
      <% end %>
    </div>
    <% i = i+2 %>
  <% end %>
  <div class="clearFix"></div>
</div>
<hr />
<h1 class="icon-no2">AVAILABIILITY <strong>Highlight all available times</strong></h1>
<table class="table-roomavailability" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tr>
    <td class='hour-column'></td>
    <% time_type = "am" %>
    <% for hour in (8..12).to_a+(1..10).to_a %>
      <% if hour == 12 %><% time_type = "pm" %><% end %>
      <td><%= hour %><%= time_type %></td>
    <% end %>
  </tr>
  <% for date in (@start_date..@end_date) %>
    <tr>
      <td><%= date.strftime("%A") %></td>
      <% time_count = 0 %>
      <% for i in (8..12).to_a+(1..10).to_a %>
        <% if i == 1 %><% time_count = 12 %><% end %>
        <td onclick="$(this).toggleClass('avalaible_checked').find('input[type=checkbox]').attr('checked', !$(this).find('input[type=checkbox]').attr('checked'));"><%= check_box_tag "times[]","#{date} #{i+time_count > 9 ? i+time_count : '0'+(i+time_count).to_s}:00:00,#{date} #{i+time_count > 9 ? i+time_count : '0'+(i+time_count).to_s}:59:59",false,:style => "display:none;" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<hr />
<h1 class="icon-no3">COUNSELOR PREFERENCE <strong>Optional</strong></h1>
<div class="boxGray">
  <div class="boxGray">
    <div class="staffrow">
      <div>Counselor Preference</div>
      <div><%= f.text_field :counselor_preference %></div>
    </div>
    <div class="btn-row">
      <div class="btn-createnew"><input class="btn-submit" type="submit" title="Submit" value="Continue" /><em></em></div>
    </div>
    <div class="clearFix"></div>
  </div>
  <div class="clearFix"></div>
</div>
<div class="clearFix"></div>