<div class="commonr">
  <div class="icon-calendar">
    <input title="Calendar" type="text" id="datepicker" />
  </div>
  <div class="daySchedule">
    <% if @start_date >= Date.today %>
      <%= link_to '' , calendar_intake_coordinator_dashboards_path(:date => (@date - 1.week)),
        :remote => true, :id=>"prev212", :class=>"arrow-left" %>
    <% end %>
    WEEK OF <span><%= @start_date %></span><br>
    <a title="EXPAND ALL" href="#">EXPAND ALL</a>   |   <a title="COLLAPSE  ALL" href="#">COLLAPSE  ALL</a>
    <%= link_to '', calendar_intake_coordinator_dashboards_path(:date => (@date + 1.week)),
      :remote => true, :id=>"next212", :class=>"arrow-right" %>
  </div>
  <!--<ul class="menu-calendar">
    <li><a title="ROOM" href="#">ROOM</a>
      <div class="submenu-calendar">
        <div><a title="Click to view" href="#">Click to view</a> | <a title="Clear all" href="#">Clear all</a></div>
        <ul class="list-submenu-calendar">
<%# @rooms.each do |room| %>
            <li><%#= check_box_tag "room",room.id,nil,:class => "fleft" %><span style="border-color:<%#= '#'+rand(999).to_s %>;"><%#= room.name %></span></li>
<%# end %>
        </ul>
      </div>
    </li>
    <li><a title="COUNSELOR" href="#">COUNSELOR</a>
      <div class="submenu-calendar">
        <div><a title="Click to view" href="#">Click to view</a> | <a title="Clear all" href="#">Clear all</a></div>
        <ul class="list-submenu-calendar">
<%# @counselors.each do |counselor| %>
            <li style="width:155px;"><%#= check_box_tag "room",counselor.id,nil,:class => "fleft" %> <span style="border-color:<%#= '#'+rand(999).to_s %>;"><%#= counselor.full_name %></span></li>
<%# end %>
        </ul>
      </div>
    </li>
  </ul>	-->				
</div>
<div class="list_carousel caroulproduct2">
  <ul id="caroulproduct2">
    <li>
      <ul id="collexp-menu1" class="collexpMenu">
        <% for day in (@start_date+1.day..@end_date) %>
          <li>
            <div title="<%= day.strftime("%A") %>" class="expanded">
              <table class="table-calendarTitle" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr>
                  <td><%= day.strftime("%A") %></td>
                  <% for i in (8..12).to_a+(1..10).to_a %>
                    <td><%= i.to_s+":00" %></td>
                  <% end %>
                </tr>
              </table>
            </div>
            <ul>
              <li>
                <table class="table-roomavailability" cellpadding="0" cellspacing="0" width="100%" border="0">
                  <% @rooms.each do |room| %>
                    <tr>
                      <td>ROOM <%= room.name %><br><span>reserve</span></td>
                      <% col = 1 %>
                      <% final_td_col = col %>
                      <% (8..21).each_with_index do |d,ind| %>

                        <% inde = @common_appointments.index(day.to_s+" "+(d > 9 ? d : "0"+d.to_s).to_s+":00:00"+room.id.to_s) %>
                        <% app = @main_appoints.at(inde) if inde %>
                        <% td_cols = app ? app.end_at.strftime("%H").to_i - app.start_at.strftime("%H").to_i : 1 %>
                        <% if td_cols >= final_td_col %>
                          <% final_td_col = td_cols %>
                          <td colspan="<%= td_cols %>">
                            <% if @common_appointments.include?(day.to_s+" "+(d > 9 ? d : "0"+d.to_s).to_s+":00:00"+room.id.to_s) == false %>
                              <div style="width: 53px; height: 41px;" onclick="javascript:shedule_form(this);"></div>
                              <% if ["intake_coordinator","admin"].include?(current_user.role) %>
                                <div class="roomReserve">
                                  <div class="arrow-calendar-popup" style="top:-29px;"></div>
                                  <div class="roomReserveContent" style="top: -37px; padding: 8px; width: 161px;">
                                    <%= form_for @counselor_room,:url =>schedulings_path(current_user.role,@counselor_room),:remote => true do |f| %>
                                      <div id="errors" style="color:red;font-size: 12px;"></div>
                                      <%= f.hidden_field :room_id,:value => room.id %>
                                      <h4>ROOM <%= room.name %></h4>
                                      <p><%= f.text_field :start_at,:value => day.to_s+" "+(d > 9 ? d : "0"+d.to_s).to_s+":00:00",:style => "height:27px;width:159px;padding:0px;" %></p>
                                      <p><%= f.text_field :end_at,:value => day.to_s+" "+(d+1 > 9 ? d+1 : "0"+(d+1).to_s).to_s+":00:00",:style => "height:27px;width:159px;padding:0px;" %></p>
                                      <p><%= f.select :counselor_id,options_for_select([["COUNSELOR",""]]+@counselors.map{|a| [a.full_name,a.id]},:selected => f.object.counselor_id) %></p>
                                      <input type="submit" title="reserve" value="assign" />
                                    <% end %>
                                  </div>
                                </div>
                              <% end %>
                            <% else %>
                              <% if current_user.role == 'counselor' %>
                                <% if current_user.id == app.counselor_id %>
                                  <div class="roomReserve">
                                    <table class="table-orange" cellpadding="0" cellspacing="0" width="100%" border="0" onclick="javascript:display_appointment(this, '<%= current_user.role %>', '<%= app.id %>');">
                                      <tr>
                                        <td><%= app.counselor.full_name %></td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <% app.appointments.each do |ap| %>
                                            <%= ap.case.case_name.slice(0..1) %> |
                                          <% end %>
                                        </td>
                                      </tr>
                                    </table>
                                    <div class="arrow-calendar-popup" style="top:13px;"></div>
                                    <div class="roomReserveContent" id="appointment_<%= app.id %>" style="top: 5px; padding: 8px; width: 161px;">

                                    </div>
                                  </div>
                                <% else %>
                                  <div class="roomReserve">
                                    <table class="table-orange" cellpadding="0" cellspacing="0" width="100%" border="0">
                                      <tr>
                                        <td><%= app.counselor.full_name %></td>
                                      </tr>
                                      <td>
                                        <% app.appointments.each do |ap| %>
                                          <%= ap.case.case_name.slice(0..1) %> |
                                        <% end %>
                                      </td>
                                    </table>
                                    <div class="arrow-calendar-popup" style="top:13px;"></div>
                                    <div class="roomReserveContent" id="appointment_<%= app.id %>" style="top: 5px; padding: 8px; width: 161px;">

                                    </div>
                                  </div>
                                <% end %>
                              <% else %>
                                <div class="roomReserve">
                                  <table class="table-orange" cellpadding="0" cellspacing="0" width="100%" border="0" onclick="javascript:display_appointment(this, '<%= current_user.role %>', '<%= app.id %>');">
                                    <tr>
                                      <td><%= app.counselor.full_name %></td>
                                    </tr>
                                    <td>
                                      <% app.appointments.each do |ap| %>
                                        <%= ap.case.case_name.slice(0..1) %> |
                                      <% end %>
                                    </td>
                                  </table>
                                  <div class="arrow-calendar-popup" style="top:13px;"></div>
                                  <div class="roomReserveContent" id="appointment_<%= app.id %>" style="top: 5px; padding: 8px; width: 161px;">

                                  </div>
                                </div>
                              <% end %>
                            <% end %>
                          </td>
                        <% else %>
                          <% col+=1 %>
                          <% if final_td_col <= ind %>
                          <% final_td_col = 1 %>
                            <td>
                              <div style="width: 53px; height: 41px;" onclick="javascript:shedule_form(this);"></div>
                              <% if ["intake_coordinator","admin"].include?(current_user.role) %>
                                <div class="roomReserve">
                                  <div class="arrow-calendar-popup" style="top:-29px;"></div>
                                  <div class="roomReserveContent" style="top: -37px; padding: 8px; width: 161px;">
                                    <%= form_for @counselor_room,:url =>schedulings_path(current_user.role,@counselor_room),:remote => true do |f| %>
                                      <div id="errors" style="color:red;font-size: 12px;"></div>
                                      <%= f.hidden_field :room_id,:value => room.id %>
                                      <h4>ROOM <%= room.name %></h4>
                                      <p><%= f.text_field :start_at,:value => day.to_s+" "+(d > 9 ? d : "0"+d.to_s).to_s+":00:00",:style => "height:27px;width:159px;padding:0px;" %></p>
                                      <p><%= f.text_field :end_at,:value => day.to_s+" "+(d+1 > 9 ? d+1 : "0"+(d+1).to_s).to_s+":00:00",:style => "height:27px;width:159px;padding:0px;" %></p>
                                      <p><%= f.select :counselor_id,options_for_select([["COUNSELOR",""]]+@counselors.map{|a| [a.full_name,a.id]},:selected => f.object.counselor_id) %></p>
                                      <input type="submit" title="reserve" value="assign" />
                                    <% end %>
                                  </div>
                                </div>
                              <% else %>
                                <% final_td_col = 1 %>
                              <% end %>
                            </td>
                          <% end %>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                </table>							
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
  <div id="pager212" class="pager"></div>
</div>
<style>
  .roomReserveContent select{
    height: 27px;
    padding: 4px;
    width: 161px;
  }
  #ui-datepicker-div{
    height: 240px;
  }

  iframe.ui-datepicker-cover{
    display: none;
  }
  .collexpMenu div.collapsed ,.collexpMenu div.collapsed:hover,.collexpMenu div.expanded, .collexpMenu div.collapsed:hover{
    background-color:#231F20;
    background-image:url(/assets/counselor/arrow-carousel-calendar.png);
    background-repeat:no-repeat no-repeat;
    border-bottom-color:#7B7979;
    border-bottom-style:solid;
    border-bottom-width:1px;
    line-height:15px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $("#datepicker").datepicker({
      minDate: 0,
      dateFormat: "yy-mm-dd",
      beforeShowDay: function(date) {
        var day = date.getDay();
        return [(day !== 0), ''];
      },
      onSelect: function(dateText, inst) {
        $.ajax({
          url: "/intake_coordinator/dashboards/calendar?date=" + dateText + "&day=" + dateText,
          dataType: "script",
          success: function(data) {
          }
        });
      }
    });
    setTimeout(function() {
      $('#collexp-menu1 > li > div.expanded + ul').slideToggle('medium');
      $('#collexp-menu1 > li > div').click(function() {
        $('#collexp-menu1 > li > div.expanded').not(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
        $(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
      });
    }, 250);
  });

</script>